*
{
    margin:0;
    padding:0;
    scroll-behavior:smooth
}

.container
{
    width:1080px;
    display:block;
    margin:0 auto
}

.header
{
    position:fixed;
    background-color:#16f2eb;
    width:100%;
    height:50px;
    z-index:100000
}

.header_wrapper
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}

.header_logo img
{
    margin-top:5px;
    width:36px;
    height:36px
}

.header .nav
{
    width:300px;
    height:50px
}
.header .nav-mini
{
    width:50px
}
.header .nav_list
{
    height:50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    list-style-type:none
}
.header .nav_list .list
{
    cursor:pointer;
    position:relative
}
.header .nav_list .list span
{
    font-size:900px
}
.header .nav_list .list a
{
    color:#000;
    text-decoration:none
}
.header .nav_list .list::after
{
    content:"";
    display:block;
    height:2px;
    background-color:#000;
    position:absolute;
    bottom:0;
    width:0;
    -webkit-transition:.5s all;
    transition:.5s all
}
.header .nav_list .list:hover::after
{
    width:100%
}
.header .nav_list .list-active::after
{
    content:"";
    display:block;
    height:2px;
    background-color:#000;
    position:absolute;
    bottom:0;
    width:100%;
    -webkit-transition:.5s all;
    transition:.5s all
}
.main
{
    background-color: #6ecca3
}
.main-wrapper
{
    padding-bottom: 50px;
    padding-top: 100px;
}
.main_title
{
    margin-bottom: 30px;
    font-size: 33px;
    color: #000000;
    text-align: center;
}
.main_info
{
    text-align: left;
    color: #000000;
    font-size: 18px;
}
.main_info ul
{
    margin-top: 15px;
}
.shop
{
    background-color: #2e9bd1
}
.shop-wrapper
{
    padding-bottom:50px;
    padding-top:80px
}
.shop_title
{
    text-align:center;
    font-size:36px
}
.shop_cards
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-pack:distribute;
    justify-content:space-around
}
.shop_card
{
    margin-top:50px;
    width:350px;
    border:2px solid #fcffff;
    border-radius:16px
}
.shop_card-wrapper
{
    padding:10px
}
.shop_card_photo img
{
    width:100%;
    border-radius:16px;
    -webkit-transition:1s all;
    transition:1s all
}
.shop_card_photo img:hover
{
    -webkit-transform:scale(1.05);
    transform:scale(1.05)
}
.shop_card_title
{
    text-align:center;
    margin-top:10px
}
.shop_card_descr
{
    text-align:center;
    margin-top:10px
}

.order
{
    padding-top:50px;
    padding-bottom:50px
}
.order_title h2
{
    font-size:36px;
    text-align:center
}
.order_title h3
{
    font-size:24px;
    text-align:center
}
.order_info
{
    color:#000000;
    text-decoration:none;
    text-align: center;
}
.order_cont
{
    margin-top: 20px;
}
.order_form
{
    width:500px;
    display:block;
    margin:0 auto;
    margin-top:30px
}
.order_form-list
{
    display:block;
    margin:10px auto
}
.order_form-select
{
    margin-top:25px;
    display:block;
    text-align:center;
    font-weight:700;
    font-size:24px
}
.order_form-radio
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top:50px;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    width:530px;
    height:100px
}
.order_form-btn
{
    margin:50px auto 0 auto;
    display:block;
    position:relative;
    cursor:pointer;
    height:35px;
    width:25%;
    background-color:rgba(0,0,0,0);
    border:none;
    -webkit-transition:1s all;
    transition:1s all
}
.order_form-btn::before
{
    content:"";
    position:absolute;
    border-top:1px solid #000;
    border-left:1px solid #000;
    top:-0.5px;
    left:-0.5px;
    width:10px;
    height:10px;
    -webkit-transition:1s all;
    transition:1s all}
.order_form-btn::after
{
    content:"";
    position:absolute;
    border-bottom:1px solid #000;
    border-right:1px solid #000;
    bottom:-0.5px;
    right:-0.5px;
    width:10px;
    height:10px;
    -webkit-transition:1s all;
    transition:1s all
}
.order_form-btn:hover
{
    background-color:#000;
    color:#fff;
    -webkit-box-shadow:0 0 10px 5px rgba(0,0,0,.389);
    box-shadow:0 0 10px 5px rgba(0,0,0,.389)
}
.order_form-btn:hover::before
{
    width:100%;
    height:100%;
    border-color:#fff
}
.order_form-btn:hover::after
{
    width:100%;
    height:100%;
    border-color:#fff
}